<div class="panel panel-primary">
    <div class="panel-heading">Trade Items</div>
    <div class="panel-body">

        <div *ngIf="isLoading" style="height: 450px" [class.loading-indicator]="isLoading"></div>

        <div *ngIf="!isLoading">
            <div class="data-grid-10">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="35px">Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tradeItem of tradeItems" (click)="navigateToTradeItem(tradeItem)">
                            <td>{{tradeItem.tradeItemId}}</td>
                            <td>{{tradeItem.name}}<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <ul class="pagination">
                    <li *ngFor="let p of pagination.getPages()" [class.active]="p.isActive"><a (click)="getTradeItems(p)">{{p.number}}</a></li>
                </ul>
            </div>
        </div>

        <br>
        <div class="text-right">
            <button type="button" (click)="addTradeItem()" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </button>
        </div>

    </div>
</div>