<div class="panel panel-primary">
  <div class="panel-heading">User Profile</div>
  <div class="panel-body">

    <div *ngIf="isLoading" style="height: 350px" [class.loading-indicator]="isLoading"></div>

    <div *ngIf="!isLoading">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [formControl]="nameFormControl" class="form-control" id="name" placeholder="Name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <div>{{email}}</div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid || !formGroup.dirty || isSaved">Save</button>
        </div>
      </form>
    </div>

  </div>
</div>