.mar-lg {
    padding: 25px
}

.mar-md {
    padding: 15px
}

.mar-sm {
    padding: 10px
}

.pad-lg {
    padding: 25px
}

.pad-md {
    padding: 15px
}

.pad-sm {
    padding: 10px
}

.navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    background-color: rgb(210, 60, 5);
}