<div class="navbar navbar-default">
  <div class="container navbar-left">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Match and Trade</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="!isAuthenticated">
          <a href="#/home" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a href="#/trade-item/trade-item-list" data-toggle="collapse" data-target=".navbar-collapse.in">Trade Items</a>
        </li>        
        <li *ngIf="isAuthenticated">
          <a href="#/user/profile-editor" data-toggle="collapse" data-target=".navbar-collapse.in">Account</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a href="#/authentication/sign-in" data-toggle="collapse" data-target=".navbar-collapse.in">Sign-in</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a href="/authenticate/sign-out" data-toggle="collapse" data-target=".navbar-collapse.in">Sign-out</a>
        </li>
      </ul>
    </div>

  </div>
</div>